# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [7]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [9]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [11]:
# Your code here:
legendary = pokemon[pokemon['Legendary'] == True].count()
regular = pokemon[pokemon['Legendary'] == False].count()

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [12]:
# Your code here:
legendary_mean = pokemon[pokemon['Legendary'] == True]['Total'].mean()
regular_mean = pokemon[pokemon['Legendary'] == False]['Total'].mean()

legendary_mean = pokemon[pokemon['Legendary'] == True]['Total'].std()
regular_mean = pokemon[pokemon['Legendary'] == False]['Total'].std()

print("legendary_mean: ", legendary_mean)
print("regular_mean: ", regular_mean)

print("legendary_mean: ", legendary_mean)
print("regular_mean: ", regular_mean)

legendary_mean:  60.93738905315344
regular_mean:  106.76041745713005
legendary_mean:  60.93738905315344
regular_mean:  106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
# Your code here:

from scipy.stats import ttest_ind #independent samples

p_val = ttest_ind(
    pokemon[pokemon['Legendary'] == True]['Total'],
    pokemon[pokemon['Legendary'] == False]['Total'],
    equal_var = False #if we didn't know the variance
)[1]

p_val

9.357954335957444e-47

What do you conclude from this test? Write your conclusions below.

In [15]:
# Your conclusions here:

print("Since p_val is very small, we will reject the null hypothesis and conclude that there is a significant difference between the two sample means.")

Since p_val is very small, we will reject the null hypothesis and conclude that there is a significant difference between the two sample means.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [16]:
# Your code here:
type_1 = pokemon.groupby('Type 1').count()
type_1

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [18]:
# Your code here:
water_std = pokemon[pokemon['Type 1'] == 'Water']['Total'].std()
no_water_std = pokemon[pokemon['Type 1'] != 'Water']['Total'].std()

water_mean = pokemon[pokemon['Type 1'] == 'Water']['Total'].mean()
no_water_mean = pokemon[pokemon['Type 1'] != 'Water']['Total'].mean()

print("water_mean: ", water_mean)
print("no_water_mean: ", no_water_mean)

print("water_std: ", water_std)
print("no_water_std: ", no_water_std)

water_mean:  430.45535714285717
no_water_mean:  435.85901162790697
water_std:  113.1882660643146
no_water_std:  121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [21]:
# Your code here:
from scipy.stats import ttest_ind #independent samples

p_val = ttest_ind(
    pokemon[pokemon['Type 1'] == 'Water']['Total'],
    pokemon[pokemon['Type 1'] != 'Water']['Total'],
    equal_var = True #if we didn't know the variance
)[1]

p_val

0.6587140317488793

Write your conclusion below.

In [10]:
# Your conclusions here:

print("Since p_val is > 0.05, we will accept the null hypothesis and conclude that there is not a significant difference between the two sample means.")

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [24]:
# Your code here:
from scipy.stats import ttest_rel

p_val = ttest_rel(
    pokemon['Attack'], 
    pokemon['Defense'])
    
p_val

# print(pokemon['Attack'].mean())
# print(pokemon['Defense'].mean())

79.00125
73.8425

Describe the results of the test in the cell below.

In [23]:
# Your conclusions here:
print('Our result is a very small p-value. This means that we will reject the null hypothesis.')

Our result is a very small p-value. This means that we will reject the null hypothesis.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [25]:
# Your code here:
p_val = ttest_rel(
    pokemon['Sp. Atk'], 
    pokemon['Sp. Def'])
    
p_val

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [26]:
# Your conclusions here:

print("Since p_val is > 0.05, we will accept the null hypothesis and conclude that there is not a significant difference between the two sample means.")

Since p_val is > 0.05, we will accept the null hypothesis and conclude that there is not a significant difference between the two sample means.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [28]:
# Your code here:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Sp. Atk']-pokemon['Sp. Def'], 0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: