# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
print(len(salaries))
print(salaries.notnull().sum())

33183
Name                 33183
Job Titles           33183
Department           33183
Full or Part-Time    33183
Salary or Hourly     33183
Typical Hours         8022
Annual Salary        25161
Hourly Rate           8022
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [9]:
# Your code here:
count_salaried = salaries[salaries['Salary or Hourly'] == 'Salary'].count()
count_hourly = salaries[salaries['Salary or Hourly'] == 'Hourly'].count()

count_salaried
count_hourly

Name                 8022
Job Titles           8022
Department           8022
Full or Part-Time    8022
Salary or Hourly     8022
Typical Hours        8022
Annual Salary           0
Hourly Rate          8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:
count_department = salaries.groupby('Department').count()
count_department

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
ADMIN HEARNG,39,39,39,39,0,39,0
ANIMAL CONTRL,81,81,81,81,19,62,19
AVIATION,1629,1629,1629,1629,1082,547,1082
BOARD OF ELECTION,107,107,107,107,0,107,0
BOARD OF ETHICS,8,8,8,8,0,8,0
BUDGET & MGMT,46,46,46,46,2,44,2
BUILDINGS,269,269,269,269,0,269,0
BUSINESS AFFAIRS,171,171,171,171,7,164,7
CITY CLERK,84,84,84,84,0,84,0
CITY COUNCIL,411,411,411,411,64,347,64
COMMUNITY DEVELOPMENT,207,207,207,207,4,203,4
COPA,116,116,116,116,0,116,0
CULTURAL AFFAIRS,65,65,65,65,7,58,7
DISABILITIES,28,28,28,28,0,28,0
DoIT,99,99,99,99,0,99,0
FAMILY & SUPPORT,615,615,615,615,287,328,287
FINANCE,560,560,560,560,44,516,44
FIRE,4641,4641,4641,4641,2,4639,2
GENERAL SERVICES,980,980,980,980,765,215,765
HEALTH,488,488,488,488,3,485,3
HUMAN RELATIONS,16,16,16,16,0,16,0
HUMAN RESOURCES,79,79,79,79,4,75,4
INSPECTOR GEN,87,87,87,87,0,87,0
LAW,407,407,407,407,40,367,40
LICENSE APPL COMM,1,1,1,1,0,1,0
MAYOR'S OFFICE,85,85,85,85,8,77,8
OEMC,2102,2102,2102,2102,1273,829,1273
POLICE,13414,13414,13414,13414,10,13404,10
POLICE BOARD,2,2,2,2,0,2,0
PROCUREMENT,92,92,92,92,2,90,2
PUBLIC LIBRARY,1015,1015,1015,1015,299,716,299
STREETS & SAN,2198,2198,2198,2198,1862,336,1862
TRANSPORTN,1140,1140,1140,1140,725,415,725
TREASURER,22,22,22,22,0,22,0
WATER MGMNT,1879,1879,1879,1879,1513,366,1513

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [44]:
def decimal_str(x: float, decimals: int = 10) -> str:
    return format(x, f".{decimals}f").lstrip().rstrip('0')

def interpret(alpha, p_val):
    print(f"Probability results occurred by chance: {decimal_str(p_val, 30)}.\nIs our p-value less than the alpha? {'Yes. We reject the null hypothesis! Kill it with fire!' if p_val < alpha else 'No. Our null hypothesis is correct.'}")

In [12]:
# Your code here:
from scipy.stats import ttest_1samp

alpha = .05

expected_mean = 30

hourly_rate = salaries[salaries['Hourly Rate'].notnull()] ['Hourly Rate']

p_val = ttest_1samp(
    hourly_rate, #observations
    expected_mean
)[1]

p_val

print(p_val , ": The lower the probability value (“p-value”), the less likely the difference between our null hypothesis and our data occurred by chance. If the p-value falls below a certain threshold (i.e., the “alpha”, typically 0.05), then we reject our null hypothesis.")

4.3230240486229894e-92 : The lower the probability value (“p-value”), the less likely the difference between our null hypothesis and our data occurred by chance. If the p-value falls below a certain threshold (i.e., the “alpha”, typically 0.05), then we reject our null hypothesis.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [13]:
# Your code here:
salary = salaries[salaries['Annual Salary'].notnull()]['Annual Salary']
#salary.mean()
#null_hypothesis = 86000
t_stat, p_val = ttest_1samp(salary, 86000)
p_val / 2 < 0.05

True

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
# Your code here:
table = pd.crosstab(salaries["Hourly Rate"], salaries['Department'])
table.sum()

Department
ANIMAL CONTRL              19
AVIATION                 1082
BUDGET & MGMT               2
BUSINESS AFFAIRS            7
CITY COUNCIL               64
COMMUNITY DEVELOPMENT       4
CULTURAL AFFAIRS            7
FAMILY & SUPPORT          287
FINANCE                    44
FIRE                        2
GENERAL SERVICES          765
HEALTH                      3
HUMAN RESOURCES             4
LAW                        40
MAYOR'S OFFICE              8
OEMC                     1273
POLICE                     10
PROCUREMENT                 2
PUBLIC LIBRARY            299
STREETS & SAN            1862
TRANSPORTN                725
WATER MGMNT              1513
dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [54]:
# Your code here:
streets = salaries.query("Department == 'STREETS & SAN'")
street_hourly = streets[streets['Hourly Rate'].notnull()]['Hourly Rate']
# street-hourly.head()
# street-hourly.mean()
t_stat, p_val = ttest_1samp(street_hourly, 35)
p_val / 2

1.6689265282353859e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [24]:
# Your code here:
from scipy.stats import t, sem
sample = salaries.sample(n = 100)['Hourly Rate'].notnull()

lower, upper = t.interval(
    1 - alpha, #confidence level
    len(sample) - 1, # degrees of freedom
    loc = sample.mean(), # sample mean
    scale = sem(sample) # sample SEM
)
lower, upper

(0.11176684080601208, 0.26823315919398794)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [25]:
# Your code here:
from scipy.stats import t, sem
sample = salaries.sample(n = 100)['Annual Salary'].notnull()

lower, upper = t.interval(
    1 - alpha, #confidence level
    len(sample) - 1, # degrees of freedom
    loc = sample.mean(), # sample mean
    scale = sem(sample) # sample SEM
)
lower, upper

(0.6973904607296008, 0.8626095392703993)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

sample = salaries.sample(n = 100)
chicago = sample.query("City == 'Chicago'")
chicago_hourly = chicago[chicago['Hourly Rate'].notnull()].shape[0]

prob_chicago_hourly = chicago_hourly / sample.shape[0]

p_val = proportions_ztest(
    chicago_hourly, # number of hourly workers in the City of Chicago
    sample.shape[0], # number of total observations
    prob_chicago_hourly # Probability to which we're comparing hourly workers in the City of Chicago
)[1] / 2